<!DOCTYPE html>
<html>
  <head>
    <title>Google Drive Content Saving</title>
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"
    />
    <style>
      body {
        padding-top: 80px;
        word-wrap: break-word;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="well">
        <h3 class="text-danger">
          Enter the text you want to save in Google Drive
        </h3>
        <% if (success) { %>
        <div class="alert alert-success alert-dismissible">
          <a href="#" class="close" data-dismiss="alert" aria-label="close"
            >×</a
          >
          <strong>Success!</strong> Your Text File is Uploaded.
        </div>
        <%}%>
        <form action="/upload" method="POST">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              name="text"
              required
              id="text"
            />
          </div>
          <div class="form-group">
            <button class="btn btn-block btn-info">Upload File</button>
          </div>
        </form>
      </div>
      <div class="text-center">
        <a href="/logout" class="btn btn-default btn-md">Logout</a>
      </div>
    </div>
  </body>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</html>
